 @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:wght@400;500;600&family=Quicksand:wght@300..700&family=Syne:wght@400..800&family=Dancing+Script:wght@400;700&display=swap');
:root{
    --bg: #0f0a1f;
    --card: #1a1433;
    --accent: #ff4da6;
    --accent2: #c026d3;
    --light: #f0d9ff;
    --text: #e0c2ff;
    --pink: #ff69b4;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    min-height: 100vh;
    padding: 12px 18px;
    background-color: var(--bg);
    color: var(--text);
    font-family: 'Poppins', sans-serif;
} 

.header{
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    padding: 15px;
    background-color: rgba(26, 20, 51, 0.95);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid var(--accent);
    z-index: 100;
}

  .nav-container {
    max-width: 1200px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0 auto ;
    padding: 0 20px;
} 


.nav_logo{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 29px;
    text-decoration: none;
    color: var(--accent);
    letter-spacing: 2px;
    text-shadow: 0 0 10px var(--accent);
}

.nav_list{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav_list li a{
    text-decoration: none;
    transition: color 0.3s;
    font-size: 18px;
    font-weight: 500;
    color: var(--text);
    position: relative;
    font-family:  Haettenschweiler , serif;
} 

.nav_list li a:hover{
    color: var(--accent);
    transform: translateY(-2px);
}

.nav_list li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background: var(--accent);
    transition: 0.3s;
}


.nav_close,.nav_toggle{
    display: none;
}


/* ############### HERO SECTION #################### */
  .hero-section{
   min-height: 100%;
   width: 100%;
   margin-top: 120px;
   padding: 40px 20px;
}

.hero-section p:first-child {
   color: var(--pink);
   font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

.hero-section h1{
 color: white;
 font-family: 'Syne', sans-serif;
 font-size: 45px;
 margin-bottom: 15px;
 text-shadow: 0 0 20px rgba(255, 77, 166, 0.5);
 line-height: 1.1;
}

.hero-section h1 span{
 color: var(--accent);
 font-family: 'Dancing Script', cursive;
 font-weight: 700;
 font-size: 50px;
}

.hero-section h3 {
 font-size: 1.8rem;
 color: var(--light);
 margin-bottom: 20px;
 font-weight: 400;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hero-section p:last-of-type {
  color: #c9b0e0;
  font-size: 1.1rem;
  line-height: 1.6;
  max-width: 500px;
}

.hero-img-box {
    position: absolute;
    right: 30px;
    bottom: 12%;
    width: 380px;
    height: 380px;
}

.hero-img-box img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 8px solid var(--accent);
    box-shadow: 0 0 40px rgba(255, 77, 166, 0.6);
    object-fit: cover;
    transition: transform 2s ease, box-shadow 0.4s;
    cursor: pointer;
}

.hero-img-box img:hover {
    transform: rotate(360deg);
    box-shadow: 0 0 50px rgba(138, 8, 73, 0.83);
}

.img-overlay-text {
    position: absolute;
    bottom: 10%;        
    left: 50%;     
    transform: translateX(-50%);
    font-family: 'Syne', sans-serif;
    font-size: 24px;
    font-weight: 800;
    color: #ffffff;
    text-shadow: 0 0 8px var(--accent), 0 0 15px #000; 
    pointer-events: none; 
} 

/* ======== BUTTONS =========  */
 .hero-section button {
    padding: 14px 28px;
    text-align: center;
    margin: 15px 10px 10px 0;;
    border-radius: 50px;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.4s;
}

.view-projects {
    background: linear-gradient(45deg, var(--accent), #ff1493);
    color: white;
    border: 2px solid var(--card);
}

.contact-me {
    background: transparent;
    border: 2px solid var(--accent);
    color: var(--accent);

}

.hero-section button:hover {
    transform: scale(1.08) translateY(-3px);
    box-shadow: 0 10px 25px rgba(255, 77, 166, 0.4);
}

.hero-section button a{
    text-decoration: none;
    color: white;
} 

.hero-section button a::after{
    content: '';
    color: var(--accent);
} 


/* ====================== ABOUT SECTION ====================== */

.about-section{
 min-height: 100%;
 width: 100%;
 margin-top: 120px;
 padding: 40px 20px;
}

.about-section h2{
color: white;
 font-family: 'Syne', sans-serif;
 font-size: 45px;
 margin-bottom: 15px;
 text-shadow: 0 0 20px rgba(255, 77, 166, 0.5);
 line-height: 1.1;
 text-align:center ;
}

.about-section .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 100%;
    height: 500px;
    background-color: var(--card);
    padding: 1px;
    column-gap: 35px;
    padding: 20px;
    border-radius: 10px;
    box-shadow:  0 0 40px rgba(255, 77, 166, 0.6);
}


.about-image img {
    width: 380px;
    height: 380px;
    border-radius: 50%;
    border: 8px solid var(--accent);
    box-shadow: 0 0 30px rgba(197, 103, 150, 0.6);
    object-fit: cover;
    transition: transform 2s ease, box-shadow 0.4s;
    cursor: pointer;
}

.about-image img:hover {
    transform: scaleX(.5);
    box-shadow: 0 0 50px rgba(138, 8, 73, 0.83);
}

.about-section .readMore {
    padding: 14px 20px;
    text-align: center;
    margin: 15px 10px 10px 0;
    border-radius: 15px;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.4s;
    background: linear-gradient(45deg, var(--accent), #ff1493);
    color: white;
    border: 2px solid var(--card);
}

.about-section .readMore:hover {
    transform: scale(1.08) translateY(-3px);
    box-shadow: 0 10px 25px rgba(255, 77, 166, 0.4);
}

.card-about{
    width: 300px;
    height: 300px;
    background-color: var(--card);
    border-radius: 20px;
    border: #ff69b4 1px solid;
    padding: 5px;
    box-shadow:  0 0 10px rgba(197, 103, 150, 0.6);
}

.card {
    padding: 20px;
    border-bottom: 1px white solid;
    height: 33%;

}

.card img{
    width: 40px;
    height: 50px;
    position: absolute;
    right: 390px;
    transition: all 1s step-start;
    margin-left: 10px;
    border-radius: 50%;
}

.card h3{
    margin-left: 40px;
    font-size: 18px;
    color: var(--light);
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card p{
   color: #c9b0e0;
   font-size: 1.1rem;
   margin-left: 40px;

}

.none {
    border: none;
}  

/* ====================== RESPONSIVE DESIGN (MOBILE) ====================== */

@media screen and (max-width: 768px) {
    body {
        max-width: 100%; 
        overflow-x: hidden; /* مفيش اسكرول بالعرض  */
        padding: 12px 15px;
    }
    
    .header {
        width: 100%; 
    }

    .nav-container {
        height: 60px;
    }

    #nav-menu {
        position: fixed;
        top: 0;
        right: -100%; 
        width: 75%; /*هتاخد 75% من عرض الشاشه */
        height: 100vh;
        background-color: var(--card);
        padding: 80px 30px;
        transition: right 0.4s ease;
        box-shadow: -5px 0 25px rgba(0, 0, 0, 0.5);
        z-index: 200;
    }

    #nav-menu.show-menu { /* كلاس ف js*/
        right: 0;
    }

    .nav_list {
        display: flex !important; 
        flex-direction: column;
        align-items: center;
        gap: 35px;
    }

    .nav_list li a {
        font-family: 'Poppins', sans-serif !important; 
        font-size: 20px;
        color: var(--text);
    }
    
    .nav_toggle {
        display: block;
        color: var(--accent);
        font-size: 26px;
        background: transparent;
        border: none;
        cursor: pointer;
    }

    .nav_close {
        display: block;
        color: var(--accent);
        font-size: 30px;
        background: transparent;
        border: none;
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
    }

    .hero-section {
        margin-top: 90px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero-section h1 {
        font-size: 32px; 
    }

    .hero-section h1 span {
        font-size: 36px;
    }

    .hero-section h3 {
        font-size: 1.3rem;
    }

    .hero-section p:last-of-type {
        margin: 0 auto 25px auto;
        font-size: 1rem;
    }

    .hero-img-box {
        position: relative;
        right: auto;
        bottom: auto;
        width: 250px;
        height: 250px;
        margin: 20px auto 30px auto;
    }

    .hero-img-box img {
        width: 100%;
        height: 100%;
    }

    .img-overlay-text {
        font-size: 18px;
        bottom: 23px;
    }

    .hero-section button {
        width: 85%;
        margin: 8px 0;
    }

    .about-section {
        margin-top: 80px;
        padding: 20px 10px;
    }

    .about-section h2 {
        font-size: 32px;
    }

    .about-section .container {
        flex-direction: column; 
        height: auto;
        padding: 30px 15px;
        row-gap: 30px;
        text-align: center;
    }

    .about-image img {
        width: 250px;
        height: 250px;
    }

    .about-content p {
        font-size: 1rem;
        line-height: 1.5;
    }

    .about-section .readMore {
        width: 80%;
        margin: 15px auto;
    }

    .card-about {
        width: 100%;
        height: auto;
    }

    .card {
        height: auto;
        padding: 20px 10px;
    }

    .card img {
        position: static; 
        margin: 0 auto 10px auto;
        display: block;
    }

    .card h3, .card p {
        margin-left: 0;
    }
}